<div
  class="d-flex justify-content-center login-form col-sm-4 col-md-6 col-lg-4"
>
  <form class="user-login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-outline mb-4">
      <label class="form-label" for="userName">User Name</label>
      <input
        type="text"
        id="userName"
        formControlName="userName"
        class="col-sm-4 form-control"
        placeholder="Enter User Name"
      />
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="col-sm-4 form-control"
        placeholder="Enter Password"
      />
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>
